html, body {
	margin: 0;
	background-color: #e5e5e5;
	color: black;
	font-family: sans-serif;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	min-width: 0%;
	height: 100%;
	max-height: 100%;
	min-height: 0%;
	overflow-y: scroll;
	font-size: 95%;
}

b {
	font-weight: bolder;
}

.ripple {
  overflow: hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  -webkit-animation: ripple-animation 2s;
  animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

@keyframes ripple-animation {
from {
transform: scale(1);
opacity: 0.4;
}
to {
transform: scale(100);
opacity: 0;
}
}

::selection {
	color: white;
	background-color: #4c43fa;
}

a {
	text-decoration: none;
	color: blue;
}
a:hover, a:focus {
	font-weight: bold;
}

textarea {
	background-color: white;
	border: 0;
	color: black;
	height: 30px;
	width: 99%;
	max-width: 99%;
	font-size: 14px;
	background-color: #f2f2f2;
	font-family: sans-serif;
	padding: 3px;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s;
}
textarea:hover, textarea:focus {
	background-color: #e3e3e3;
}
input[type="text"], input[type="password"], input[type="number"] {
	display: block;
	background-color: white;
	border: 0;
	color: black;
	height: 25px;
	width: 99%;
	max-width: 99%;
	font-size: 16px;
	background-color: #f2f2f2;
	font-family: sans-serif;
	padding: 3px;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s;
}
input[type="text"]:hover, textarea:hover, input[type="password"]:hover, input[type="number"]:hover {
	background-color: #e3e3e3;
}
input[type="text"]:focus, textarea:focus, input[type="password"]:focus, input[type="number"]:focus {
	background-color: #e3e3e3;
}
#msg {
	font-size: 20px;
	max-width: 95%;
	max-height: 1%;
	padding: 3px;
	border: solid 0;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	transition: all 0.3s
}
#msg:focus, #msg:hover {
	background-color: #e3e3e3;
}
#msg[class="ta"] {
	height: 28px;
	max-width: 99%;
	padding: 3px;
}
#msg[class="ta"]:focus, #msg[class="ta"]:hover {
	height: 60px;
}

.sendbuttonaction {
	color: white;
	font-size: 20px;
	background-color: #ff4242;
	border: solid 0;
	max-height: 1%;
	margin: auto;
	padding: 6px;
	outline: none;
	text-align: center;
	cursor: pointer;
	margin-bottom: auto;
	vertical-align: top;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	transition: all 1s;
}
.sendbuttonaction:hover, .sendbuttonaction:focus {
	border-color: #00b0ff;
}
.mainbutton {
	display: block;
	outline: none;
	border: solid 0;
	background-color: #d3d3d3;
	width: 100%;
	padding: 7px;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.3s;
}
.mainbutton:focus {
	background-color: #c3c3c3;
}
.mainbutton:hover {
	background-color: #c3c3c3;
}
#textboxmsg {
	background-color: white;
	max-width: 100%;
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#econ {
	width: 95%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

#title {
	background-color: #4c43fa;
	color: white;
	position: fixed;
	width: 100%;
	max-width: 100%;
	opacity: 1;
	font-size: 25px;
	padding: 5px;
	z-index: 9999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#titletext {
	color: white;
}
#footer {
	background-color: #232323;
	color: white;
	text-align: center;
}
#logo {
	height: 40px;
	width: 40px;
	vertical-align: -10px;
}

.menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	z-index: 99999;
}
.menutext {
	position: fixed;
	top: 9px;
	right: 16px;
	color: white;
	font-size: 25px;
	width: 16px;
	height: 0;
	text-align: center;
	font-weight: bold;
	z-index: 999999;
	box-shadow: 0 9px 0 2px white,0 16px 0 2px white,0 23px 0 2px white;
}
#menulist {
	-webkit-transform: translateZ(0);
	display: none;
	position: fixed;
	font-size: 95%;
	top: 50px;
	left: 10%;
	background-color: white;
	box-sizing: border-box;
	max-width: 80%;
	min-width: 0px;
	width: 80%;
	height: 85%;
	max-height: 85%;
	min-height: 0%;
	overflow-wrap: break-word;
	text-overflow: clip;
	z-index: 9999;
	overflow-y: none;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
@media only screen and (max-device-width: 480px) {
    #menulist {
        width: 100%;
        max-width: 100%;
        left: 0%;
        height: -webkit-calc(100% - 50px);
        max-height: -webkit-calc(100% - 50px);
    }
}
.menubottom {
	position: absolute;
    bottom: 0px;
	width: 100%;
	max-width: 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: white;
	background-color: #4c43fa;
}

::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background-color: #4c43fa;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-corner {
      background-color: black;
}

.menumbars {
	display: inline-block;
	background-color: #5b53ff;
	color: white;
	text-align: center;
	font-size: 93%;
	width: 23.6%;
	max-width: 23.6%;
	padding-top: 4px;
	max-padding-top: 4px;
	border: solid 0px;
	transition: all 0.4s;
}
.redmenu:hover {
	background-color: #ff3333;
}
.limemenu:hover {
	background-color: #06e000;
}
.menutitle {
	box-sizing: border-box;
	vertical-align: bottom;
	background-color: #4c43fa;
	font-size: 110%;
	color: white;
	padding: 6px;
	padding-bottom: 0px;
	text-align: center;
	max-width: 100%;
	min-width: 0px;
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.menutitletext {
	font-weight: bold;
	padding-bottom: 5px;
}
.menucontainer {
	box-sizing: border-box;
	max-width: 100%;
	min-width: 0px;
	width: 100%;
	padding: 3px;
	overflow-y: auto;
}
.notification {
    float: left;
	padding: 10px;
	background-color: white;
    box-sizing: border-box;
	text-align: left;
	width: 100%;
	max-width: 100%;
	min-width: 0px;
}
.notificationtime {
    float: right;
    font-size: 80%;
    color: #909090;
}
.notificationdes {
    font-size: 90%;
}
.unread {
	border-left: solid 10px;
	border-color: #4c43fa;
}
#sep {
	line-height: 50px;
}
#barblock {
	padding: 5px;
	padding-top: 6px;
	background-color: white;
	max-width: 100%;
}

#success {
	width: 100%;
	font-weight: bold;
	background-color: #73ff63;
	color: white;
	position: fixed;
	top: 50px;
	padding: 3px;
	z-index: 6;
}
#alert {
	width: 100%;
	font-weight: bold;
	background-color: #ffca63;
	color: white;
	position: fixed;
	top: 50px;
	padding: 3px;
	z-index: 6;
}
#error {
	width: 100%;
	font-weight: bold;
	background-color: #ff5f5f;
	color: white;
	position: fixed;
	top: 50px;
	padding: 3px;
	z-index: 6;
}

#content {
	max-width: 100%;
	text-align: center;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	overflow-wrap: break-word;
	padding: 6px;
	text-align: left;
	border: 0;
	overflow: hidden;
}
#avatarmain {
	text-align: center;
	background-color: #cbcbcb;
	margin-left: auto;
	margin-right: auto;
	padding-top: 17px;
	padding-bottom: 15px;
	width: 100%;
	max-width: 100%;
}
#avatarprofile {
	width: 120px;
	height: 120px;
	border: solid 0;
	border-radius: 20px;
	background-color: white;
	transition: all 0.5s;
}
.verification {
	position: relative;
	left: -20px;
	top: -2px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: solid 1px;
	border-radius: 20px;
	border-color: white;
	background-color: #2aff28;
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding: 3px;
}
#submissionbutton {
	width: 100%;
	background-color: #7aff51;
	color: white;
	font-size: 19px;
	border: 0;
	padding: 2px;
	outline: none;
	cursor: pointer;
}
#mainbutton {
	width: 100%;
	height: 25px;
	min-height: 25px;
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 22px;
	padding-bottom: 26px;
	min-width: 100px;
}
#registerbutton {
	width: 100%;
	background-color: #ffb53d;
	color: white;
	font-size: 19px;
	padding: 2px;
}
#infobar {
	width: 100%;
	font-weight: bold;
	background-color: #517dff;
	color: white;
	border: solid 0;
	border-radius: 8px 8px 0 0;
	padding: 3px;
}
#disabledlabel {
	width: 100%;
	font-weight: bold;
	font-size: 19px;
	background-color: #ff5f5f;
	color: white;
}
#disabledreason {
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	background-color: #bd8fff;
	color: white;
}
#info {
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	background-color: #89cbff;
	color: white;
	text-align: center;
	padding: 3px;
}
#baraccinfoone {
	position: fixed;
	left: 40%;
	font-size: 11px;
}
#baraccinfotwo {
	position: fixed;
	left: 40%;
	font-size: 11px;
}
#baraccinfothree {
	position: fixed;
	left: 40%;
	font-size: 11px;
}
#circleind {
	border: solid 2px;
	border-color: white;
	background-color: white;
	color: #6affa9;
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	width: 22px;
	padding-top: 3px;
	padding-right: 1px;
}

.loader {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 9px;
}

#chatscreen {
	width: 100%;
	max-width: 100%;
	max-height: -webkit-calc(100% - 200px);
	background-color: white;
	text-align: left;
	overflow-wrap: break-word;
	text-overflow: clip;
	overflow-x: hidden;
	overflow-y: scroll;
}
.username {
	display: inline-block;
	float: left;
	font-weight: bolder;
	-webkit-text-stroke: 0.2px black;
}
.chattime {
	display: inline-block;
	max-width: 100%;
	color: white;
	font-size: 10px;
	float: right;
}
.chatpriv {
	display: inline-block;
}
.chattopmsg {
	text-align: center;
	max-width: 100%;
	font-size: 110%;
	background-color: #4c43fa;
	padding: 5px;
}
.chatmsg {
	padding: 5px;
	overflow-wrap: break-word;
	text-overflow: clip;
}

.olistclose {
	background-color: #ffaf17;
}
#statuses {
	max-width: 100%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	overflow-wrap: break-word;
	padding: 6px;
	text-align: left;
	border-bottom: 3px solid;
	border-color: #e9e9e9;
	overflow: hidden;
}
.listbuttons {
	position: relative;
	color: black;
	background-color: white;
	font-size: 130%;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 4%;
	padding-right: 4%;
	transition: all 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.listbuttonstext {
	vertical-align: 6px;
	display: inline-block;
}
.menuicons {
	position: relative;
	z-index: 999;
}
hr {
	display: block;
	height: 0.7px;
	border: 0;
	border-top: 2px solid #e3e3e3;
	margin: 6px 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.hrngap {
	width: 100%;
	max-width: 100%;
	min-width: 0%;
	display: block;
	height: 0.01%;
	border: 0;
	border-top: 2px solid #c9c9c9;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.avatar {
	border: solid 2px;
	border-radius: 10px;
}
#procom {
	border: solid 0;
	border-radius: 15px;
}
.tab {
	max-width: 100%;
	color: white;
	background-color: #38ff58;
	padding-top: 6px;
	padding-bottom: 5px;
	text-align: center;
	font-weight: bold;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#ctab {
	display: none;
}
form {
	display: inline;
}
#bioboxy {
	text-align: left;
	padding: 6px;
}
#aboutboxy {
	padding: 6px;
	text-align: center;
}
#topprobar {
	width: 50%;
	text-align: right;
	float: right;
	color: white;
	font-size: 15px;
	transition: all 0.5s;
}
#bottomprobar {
	background-color: #2090ff;
	padding: 6px;
	text-align: right;
	transition: all 0.5s;
}
#procomments {
	border: solid 0;
	max-width: 100%;
	background-color: white;
	padding: 0;
}
#bpbb {
	background-color: #ac7cff;
	color: white;
	padding: 6px;
	cursor: pointer;
}
#gap {
	line-height: 42px;
	cursor: default;
}
.list1 {
	max-height: 200px;
	width: 100%;
	max-width: 100%;
	background-color: white;
	text-align: center;
	display: none;
	transform: translate3d(0,0,0);
	text-overflow: clip;
	overflow-x: hidden;
	overflow-y: scroll;
}
.list1: : -webkit-scrollbar {
	width: 0 !important;
}
.list2 {
	max-height: 200px;
	width: 100%;
	max-width: 100%;
	font-size: 13px;
	background-color: white;
	text-align: center;
	display: none;
	transform: translate3d(0,0,0);
	text-overflow: clip;
	overflow-x: hidden;
	overflow-y: scroll;
}
.list2: : -webkit-scrollbar {
	width: 0 !important;
}
.list2c {
	background-color: white;
	padding: 6px;
	text-align: center;
	font-size: 25px;
	max-width: 100%;
}
.olistc {
	background-color: #ffaf17;
	color: white;
	text-align: center;
	font-size: 90%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
	padding-bottom: 1px;
	cursor: context-menu;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#circleol {
	border: solid 2px;
	border-color: white;
	background-color: white;
	color: orange;
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.chatstatus {
	background-color: #14e800;
	border: solid 3px;
	border-color: white;
	display: inline-block;
	border-radius: 30px;
	text-align: center;
	padding: 1px;
	height: 13px;
	width: 13px;
	transform: translateY(9%);
}
.status {
	vertical-align: center;
}
#roombar {
	background-color: #ffe24a;
	color: white;
	padding: 7px;
	cursor: pointer;
}
:-webkit-full-screen {
	width: 100%;
	max-width: 100%;
	background-color: #e5e5e5;
}
:-moz-full-screen {
	width: 100%;
	max-width: 100%;
	background-color: #e5e5e5;
}
:-ms-fullscreen {
	width: 100%;
	max-width: 100%;
	background-color: #e5e5e5;
}
#msgtextchat {
	text-overflow: clip;
	overflow: hidden;
	width: 100%;
}
#statusmsg {
	text-overflow: clip;
	overflow: hidden;
	width: 100%;
	padding-bottom: 10px;
}
#statusavatars {
	border: solid 0;
	border-radius: 15px;
}
#statuscomimg {
	border: solid 0;
	border-radius: 15px;
}
#statusscreen {
	background-color: white;
}
.radiob {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	transition: all 0.5s;
}
input[type="radio"] {
	display: none;
}
.radiob:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	font-size: 0;
	color: white;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: white;
	border: solid 1px;
	border-color: #6affa9;
	border-radius: 15px;
	transition: all 0.3s;
}
input[type="radio"]:checked+.radiob:before {
	content: "\2022";
	color: #6affa9;
	font-size: 30px;
	text-align: center;
	line-height: 18px;
	border: solid 1px;
	border-color: #6affa9;
	border-radius: 15px;
	transition: all 0.3s;
}
#results {
	cursor: context-menu;
	display: block;
	position: fixed;
	left: 0;
	top: 50px;
	width: 100%;
	max-width: 100%;
	max-height: 20%;
	overflow: auto;
	background-color: white;
	overflow-wrap: break-word;
	text-overflow: clip;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: all 0.3s;
	z-index: 5;
}
#results:empty {
	display: none;
}
.clickablesearch {
	background-color: white;
	color: black;
	padding: 3px;
	transition: all 0.3s;
}
.clickablesearch:hover {
	background-color: grey;
	color: white;
}
.cmdw {
	max-width: 100%;
	height: 200px;
	max-height: 200px;
	font-size: 12px;
	background-color: black;
	border: solid 0;
	margin-left: auto;
	margin-right: auto;
	padding: 4px;
	color: white;
	overflow-wrap: break-word;
	text-overflow: clip;
	overflow-y: scroll;
	text-align: left;
}
.cmdw:: -webkit-scrollbar {
	width: 0;
}
.lockbuttonsbox {
	padding: 10px;
	background-color: white;
}
.lockbuttonfirst {
	border: 6px;
	border-radius: 6px;
	border-color: green;
	background-color: #20ff43;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 20px;
	color: white;
	outline: none;
	transition: all 0.5s;
}
.lockbuttonfirst:focus, .lockbuttonfirst:hover {
	background-color: #65ff7d;
}
.lockbuttonsecond {
	border: 0;
	border-radius: 6px;
	background-color: #ff2727;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 7px;
	padding-right: 7px;
	font-size: 20px;
	color: white;
	outline: none;
	transition: all 0.5s;
}
.lockbuttonsecond:focus, .lockbuttonsecond:hover {
	background-color: #ff5858;
}
.nullbar {
	background-color: #4876ff;
	padding: 4px;
	color: white;
	max-width: 100%;
	font-size: 12px;
	font-weight: bold;
}
select {
	width: 100%;
	font-size: 15px;
	background-color: white;
	color: black;
}
.statusdelete {
	display: inline-block;
	float: right;
	margin: auto;
	text-align: center;
	vertical-align: top;
	background-color: #ff3737;
	color: white;
	font-weight: bold;
	border: solid 0;
	border-radius: 20px;
	padding: 3px;
	transition: all 0.5s;
}
.statusdelete:hover {
	background-color:  #ff0404;
}
.tbesstat {
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 5px solid;
	border-color: #004bff;
	border-radius: 150px;
}
